## Seasonality Indices Calculation

In [1]:
import pandas as pd

#WE ADD ALL THE DATA FROM YEARS INTO ONE BIG DATAFRAME
#UPDATE YOUR FILE PATH ACCORDINGLY
df = pd.read_excel(r'D:\Projects\ntu-vish\Yearly Energy Demand Data\2004.xlsx', index_col=0)
year = 2004
for i in range(1,19):
    temp_df = pd.read_excel("D:\\Projects\\ntu-vish\\Yearly Energy Demand Data\\" + str(year + i) + '.xlsx', index_col=0)
    df = df.merge(temp_df, left_index=True, right_index=True)
df.columns = pd.to_datetime(df.columns, dayfirst=True) # converting into datetime format
df.drop(df.columns[-1], axis=1, inplace=True) # removing Jan 01 2023 column
hourlyall = df.copy() # DataFrame with half-hourly values

* ### S.I. for the Month  
**Previous work**- applied the same formula, calculated weekdays and weekends separately  
**Current work**- same formula, weekdays and weekends not separated, only one value for a particular month, overall S.I. for a month

In [2]:
df = df.sum() # daily demand (summing up hourly demands for a day), also converting it into a pandas Series
dailyall = df.copy() # storing daily demand data

In [3]:
dfdict = {}
for year in df.index.year.unique():
    dfdict[year] = []
    yearly_temp = df[df.index.year == year] # temporary yearly series
    yearly_avg = yearly_temp.mean() # average daily demand for the year
    for month in df.index.month_name().unique(): # [January,...,December]
        monthly_temp = yearly_temp[yearly_temp.index.month_name() == month] # temporay monthly series
        monthly_avg = monthly_temp.mean() # average daily demand for the month and year
        monthlysi = monthly_avg/yearly_avg
        dfdict[year].append(monthlysi)
monthlydf = pd.DataFrame(dfdict, index=df.index.month_name().unique()) # DataFrame holding S.I. for the month

#monthlydf.to_excel('S.I. for the Month [01.08].xlsx')
monthlydf

,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
January,0.931393,0.936851,0.923849,0.956248,0.992239,0.903414,0.941198,0.962763,0.942786,0.966949,0.941519,0.960433,0.960637,0.970240,0.959059,0.990236,1.010220,0.931328,0.984320
February,0.969919,0.959814,0.973605,0.951784,0.966269,0.946761,0.966075,0.959076,0.983317,0.939166,0.969833,0.954535,0.939604,0.971799,0.965866,0.971384,1.028595,0.960678,0.976391
March,0.992217,1.004351,1.016824,0.999811,0.983888,0.939630,1.002715,0.989488,0.985638,0.994657,0.990638,0.997783,0.991045,0.979403,0.995527,0.989686,1.034268,0.995939,1.005631
April,1.027065,1.002481,0.984450,1.003644,1.038110,0.987499,1.017774,0.998851,1.002770,1.007999,1.006404,1.010263,1.020303,0.974688,1.008508,1.011673,0.973183,1.006413,1.004909
May,1.025499,1.001341,1.014911,1.017511,1.042943,1.002897,1.029233,1.032422,1.026885,1.011391,1.016740,1.005435,1.016953,1.018922,1.029707,1.027810,0.964176,1.010019,1.026986
June,1.028356,1.020746,1.008876,1.022252,1.021823,1.040232,0.999542,1.038487,1.036572,1.030304,1.036090,1.017838,0.999684,1.023880,1.020578,0.996554,0.980598,1.022500,1.007060
July,0.995628,1.002109,1.020611,1.006425,1.017551,1.029338,0.999555,1.037889,1.013685,1.024514,1.036480,1.035815,0.994256,1.018734,1.018953,1.014624,0.986590,1.013534,1.023533
August,1.010303,1.012014,1.015681,1.008862,1.002611,1.030340,1.002968,1.010722,1.016615,1.025548,1.010228,1.007311,1.028954,1.021448,1.021740,1.022062,1.007683,0.992489,1.014408
September,1.022450,1.030508,1.009929,1.018536,1.027318,1.040458,1.009615,1.028345,1.007956,1.011860,1.030110,1.023606,1.026335,1.015423,0.993602,1.029901,0.989135,1.012665,1.006089
October,1.014164,1.017936,1.025706,1.037954,1.003582,1.045454,1.025467,0.986100,1.016104,1.012659,1.013287,1.028368,1.016959,1.009651,1.008956,0.989396,1.010251,1.024043,0.987328
November,0.994457,1.008235,1.017964,1.006106,0.971222,1.017143,1.011370,0.991207,0.998929,0.996877,0.979224,0.987635,1.006228,0.999373,0.989453,0.995338,1.004030,1.011683,0.999442
December,0.980088,1.001725,0.985725,0.967831,0.932154,1.014434,0.992441,0.962523,0.969156,0.973705,0.968201,0.967847,0.996841,0.994141,0.985141,0.959648,1.011407,1.016621,0.962184

### Correction in the formula - 2004 in denominator instead of 2003

In [4]:
overall_monthly = monthlydf.sum(axis = 1) / (2022-2004+1) # Overall S.I. for the Month
# with pd.ExcelWriter('S.I. for the Month [01.08].xlsx', mode='a', engine='openpyxl') as writer:
#     overall_monthly.to_excel(writer, sheet_name='Overall S.I. for the Month')
overall_monthly

January      0.956088
February     0.966025
March        0.994165
April        1.004578
May          1.016936
June         1.018525
July         1.015254
August       1.013789
September    1.017571
October      1.014388
November     0.999259
December     0.981148
dtype: float64

* ### S.I. for the Day of the Week  
**Previous work**- no previous work   
**Current work**- formula as suggested, overall S.I. for day of the week

In [5]:
for year in dailyall.index.year.unique():
    dfdict = {}
    for month in dailyall.index.month_name().unique():
        dfdict[month] = []
        for day in dailyall.index.day_name().unique():
            daily_temp = dailyall[dailyall.index.strftime("%Y%B%A") == str(year)+month+day]
            daily_avg = daily_temp.mean() / overall_monthly.loc[month] # average day of the week demand for a given month and year (divided by S.I. of the month)
            dfdict[month].append(daily_avg)
        dfdict[month] = dfdict[month] / (sum(dfdict[month])/len(dfdict[month])) # S.I. for the day of the week (for particular month and year)
    year_temp = pd.DataFrame(dfdict, index=dailyall.index.day_name().unique())
    # try:
    #     with pd.ExcelWriter('S.I. Day of the Week [01.08].xlsx', mode='a', engine='openpyxl') as writer:
    #         year_temp.to_excel(writer, sheet_name=str(year))
    # except:
    #     year_temp.to_excel('S.I. Day of the Week [01.08].xlsx', sheet_name=str(year))

In [6]:
overall_weekly = pd.read_excel('S.I. Day of the Week [01.08].xlsx', index_col=0, sheet_name=str(2004)).sum(axis = 1)
for year in range(2005,2023):
    overall_weekly += pd.read_excel('S.I. Day of the Week [01.08].xlsx', index_col=0, sheet_name=str(year)).sum(axis = 1)
overall_weekly = overall_weekly / (19*12) # (19*12)- number of year and month combinations

# with pd.ExcelWriter('S.I. Day of the Week [01.08].xlsx', mode='a', engine='openpyxl') as writer:
#     overall_weekly.to_excel(writer, sheet_name='Overall S.I. Day of the Week')
overall_weekly

Monday       1.019099
Tuesday      1.028813
Wednesday    1.029324
Thursday     1.026735
Friday       1.023403
Saturday     0.957020
Sunday       0.915605
dtype: float64

* ### S.I. for the Hour of the Day
**Previous work**- calculated weekdays, weekends, Mon-Fri separately, calculated both hourly and half-hourly, no other SIs were considered  
**Current work**- other SIs considered, all weekdays separately calculated, only hourly calculated, overall S.I. for hour of the day

In [7]:
# changing data from half-hourly to hourly by adding consecutive half-hour data
drop_list = []
for i in range(48):
    if i%2 == 1:
        hourlyall.iloc[i] = (hourlyall.iloc[i] + hourlyall.iloc[i-1])
    else:
        drop_list.append(hourlyall.index[i])
hourlyall.drop(drop_list,inplace=True)
hourlyall.head()

,2004-01-05,2004-01-06,2004-01-07,2004-01-08,2004-01-09,2004-01-10,2004-01-11,2004-01-12,2004-01-13,2004-01-14,...,2022-12-22,2022-12-23,2022-12-24,2022-12-25,2022-12-26,2022-12-27,2022-12-28,2022-12-29,2022-12-30,2022-12-31
Time,,,,,,,,,,,,,,,,,,,,,
01:00,7073.64,7180.08,7325.34,7297.20,7398.00,7447.71,7285.10,6985.72,7335.80,7328.87,...,11526.834128,11337.094693,11354.794858,11221.860163,11102.982984,11180.926941,11401.833468,11576.342098,11495.931147,11537.882749
02:00,6806.90,6905.79,7015.51,7025.01,7066.54,7120.19,6994.52,6661.93,7025.31,7001.68,...,11132.092745,10897.672556,10961.989478,10884.124199,10767.151097,10829.634568,10980.607040,11225.403026,11067.146373,11104.887664
03:00,6629.21,6748.21,6842.26,6794.43,6856.15,6935.42,6768.88,6470.06,6840.10,6807.79,...,10881.324370,10654.509416,10728.545400,10580.886231,10548.590175,10603.728916,10747.167020,10914.672526,10758.734546,10833.693178
04:00,6519.22,6627.38,6650.82,6706.81,6732.54,6779.88,6608.35,6338.37,6729.19,6686.53,...,10734.475651,10528.177713,10588.026075,10398.237426,10404.431806,10467.637957,10638.412648,10710.106402,10608.314689,10664.746745
05:00,6502.75,6575.82,6587.52,6688.03,6678.08,6702.04,6529.29,6337.92,6672.13,6633.36,...,10694.480112,10526.550888,10529.401433,10345.678927,10355.742981,10454.815488,10674.136100,10731.046673,10630.889377,10600.855121

In [ ]:
dfdict = {}
for year in hourlyall.columns.year.unique():
    for month in hourlyall.columns.month_name().unique():
        for day in hourlyall.columns.day_name().unique():
            dfdict[(year,month,day)] = []
            for hour in hourlyall.index:
                # average hourly demand for a gicen day of the week, month and year (divided by S.I. of the month and day of the week)
                hourly_avg = hourlyall[hourlyall.columns[hourlyall.columns.strftime("%Y%B%A") == str(year)+month+day]].loc[hour].mean() / (overall_monthly.loc[month]*overall_weekly.loc[day])
                dfdict[(year,month,day)].append(hourly_avg)
            # S.I. for the hour of the day (for particular day of the week, month and year)
            dfdict[(year,month,day)] = dfdict[(year,month,day)] / (sum(dfdict[(year,month,day)])/len(dfdict[(year,month,day)]))
hourlydf = pd.DataFrame(dfdict, index=hourlyall.index)

In [19]:
# for year in range(2004,2023):
#     year_temp = hourlydf.xs(year, axis=1, level=0)
#     try:
#         with pd.ExcelWriter('S.I. Hour of the Day [01.08].xlsx', mode='a', engine='openpyxl') as writer:
#             year_temp.to_excel(writer, sheet_name=str(year))
#     except:
#         year_temp.to_excel('S.I. Hour of the Day [01.08].xlsx', sheet_name=str(year))

In [21]:
overall_hourly = hourlydf.sum(axis=1) / (19*12*7) # (19*12*7) number of year, month and day combinations
# with pd.ExcelWriter('S.I. Hour of the Day [01.08].xlsx', mode='a', engine='openpyxl') as writer:
#     overall_hourly.to_excel(writer, sheet_name='Overall S.I. Hour of the Day')
overall_hourly

Time
01:00    0.909816
02:00    0.876996
03:00    0.854698
04:00    0.839801
05:00    0.833933
06:00    0.845826
07:00    0.886656
08:00    0.929409
09:00    1.014998
10:00    1.069455
11:00    1.099545
12:00    1.107860
13:00    1.093531
14:00    1.101012
15:00    1.105078
16:00    1.099559
17:00    1.095350
18:00    1.078410
19:00    1.052493
20:00    1.063538
21:00    1.054882
22:00    1.037347
23:00    0.995727
00:00    0.954080
dtype: float64