In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/time_series_30min_singleindex_filtered.csv')
data.head()

,utc_timestamp,cet_cest_timestamp,GB_UKM_load_actual_entsoe_transparency
0,2014-12-31T23:00:00Z,2015-01-01T00:00:00+0100,NaN
1,2014-12-31T23:30:00Z,2015-01-01T00:30:00+0100,NaN
2,2015-01-01T00:00:00Z,2015-01-01T01:00:00+0100,NaN
3,2015-01-01T00:30:00Z,2015-01-01T01:30:00+0100,27607.0
4,2015-01-01T01:00:00Z,2015-01-01T02:00:00+0100,28358.0

In [3]:
data = data.dropna()

In [4]:
data['year'] = pd.DatetimeIndex(data['utc_timestamp']).year
data.head()

,utc_timestamp,cet_cest_timestamp,GB_UKM_load_actual_entsoe_transparency,year
3,2015-01-01T00:30:00Z,2015-01-01T01:30:00+0100,27607.0,2015
4,2015-01-01T01:00:00Z,2015-01-01T02:00:00+0100,28358.0,2015
5,2015-01-01T01:30:00Z,2015-01-01T02:30:00+0100,27538.0,2015
6,2015-01-01T02:00:00Z,2015-01-01T03:00:00+0100,26063.0,2015
7,2015-01-01T02:30:00Z,2015-01-01T03:30:00+0100,24357.0,2015

In [5]:
data = data[data['year'] == 2019]

In [6]:
data['GB_UKM_load_actual_entsoe_transparency'].sum()

607463615.5

In [7]:
entsou = pd.read_excel('data/monthly_hourly_load_values_2019.xlsx')
entsou.head()

c:\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,MeasureItem,DateUTC,DateShort,TimeFrom,TimeTo,CountryCode,Cov_ratio,Value,Value_ScaleTo100,CreateDate,UpdateDate
0,Monthly Hourly Load Values,2019-01-01 00:00:00,2019-01-01,1970-01-01 00:00:00,1970-01-01 01:00:00,AT,100,5852.5,5852.5,2024-05-29 11:37:27.260,2024-05-29 11:37:27.260
1,Monthly Hourly Load Values,2019-01-01 01:00:00,2019-01-01,1970-01-01 01:00:00,1970-01-01 02:00:00,AT,100,5619.2,5619.2,2024-05-29 11:37:27.260,2024-05-29 11:37:27.260
2,Monthly Hourly Load Values,2019-01-01 02:00:00,2019-01-01,1970-01-01 02:00:00,1970-01-01 03:00:00,AT,100,5323.9,5323.9,2024-05-29 11:37:27.260,2024-05-29 11:37:27.260
3,Monthly Hourly Load Values,2019-01-01 03:00:00,2019-01-01,1970-01-01 03:00:00,1970-01-01 04:00:00,AT,100,5273.3,5273.3,2024-05-29 11:37:27.260,2024-05-29 11:37:27.260
4,Monthly Hourly Load Values,2019-01-01 04:00:00,2019-01-01,1970-01-01 04:00:00,1970-01-01 05:00:00,AT,100,5439.0,5439.0,2024-05-29 11:37:27.260,2024-05-29 11:37:27.260

In [8]:
entsou = entsou[entsou['CountryCode'] == 'GB']

In [9]:
entsou['Value'].sum()

302685514.5

In [10]:
data['GB_UKM_load_actual_entsoe_transparency'].sum()/2

303731807.75