In [1]:
import pandas as pd
import numpy as np

In [2]:
country_code = 'GB'
# read data only for the selected country
data = pd.read_excel(f'data\{country_code}\Monthly-hourly-load-values_2006-2015.xlsx', header=3) # contains 2010 to 2015 data

In [3]:
data = data[data['Country'] == country_code]
data = data.drop(columns=['Country', 'Coverage ratio']).reset_index(drop=True)

In [4]:
data['DateUTC'] = pd.to_datetime(data['Year'].astype(str) + '-' + data['Month'].astype(str) + '-' + data['Day'].astype(str)).dt.date
data = data[data['Year'] != 2010]
data = data.drop(columns=['Year', 'Month', 'Day']).set_index('DateUTC')

In [5]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
DateUTC,,,,,,,,,,,,,,,,,,,,,
2011-01-01,33434.0,34849.0,34187.0,32368.0,30488.0,28446.0,27376.0,27171.0,26781.0,27420.0,...,38171.0,38311.0,38877.0,41843.0,43694.0,42529.0,40848.0,39123.0,37148.0,35138.0
2011-01-02,33028.0,33044.0,31901.0,30931.0,30143.0,28692.0,28158.0,28555.0,28888.0,30541.0,...,40863.0,40819.0,41615.0,45224.0,46936.0,45505.0,43539.0,41772.0,39355.0,37037.0
2011-01-03,34797.0,34790.0,33763.0,32809.0,31897.0,30547.0,30259.0,31233.0,31889.0,33845.0,...,43170.0,43242.0,44223.0,48067.0,50881.0,49786.0,47265.0,44462.0,41530.0,37767.0
2011-01-04,34236.0,34170.0,33485.0,32899.0,32320.0,31160.0,31669.0,36299.0,41807.0,45321.0,...,49132.0,49188.0,49698.0,52691.0,53947.0,53039.0,50529.0,47339.0,43297.0,39032.0
2011-01-05,35156.0,34874.0,34270.0,33591.0,32766.0,31986.0,32650.0,37372.0,43761.0,46198.0,...,48664.0,49276.0,50152.0,53468.0,54696.0,53375.0,51026.0,47921.0,43690.0,39848.0

In [6]:
data2 = pd.read_excel(f'data\{country_code}\MHLV_data-2015-2019.xlsx')
data2 = data2[data2['CountryCode'] == country_code]
data2 = data2[['DateUTC', 'Value']].reset_index(drop=True)
data2['Date'] = data2['DateUTC'].dt.date
data2.head()

              DateUTC     Value        Date
0 2016-01-01 00:00:00  37700.00  2016-01-01
1 2016-01-01 01:00:00  35345.00  2016-01-01
2 2016-01-01 02:00:00  33274.67  2016-01-01
3 2016-01-01 03:00:00  31575.33  2016-01-01
4 2016-01-01 04:00:00  31094.67  2016-01-01

In [7]:
data3 = {}
for i in range(24):
    data3[i] = data2[data2['DateUTC'].dt.hour == i]['Value'].values

In [8]:
data3 = pd.DataFrame(data3)
data3.index = data2['Date'].unique()
data3.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
2016-01-01,37700.00,35345.00,33274.67,31575.33,31094.67,32071.67,33081.00,34370.67,37527.33,40516.33,...,46254.00,49747.00,50931.00,49151.67,46612.67,43879.67,40873.00,37331.00,33933.00,32632.00
2016-01-02,31558.67,29657.33,28177.67,27256.67,27797.00,30206.00,33229.00,36947.67,41343.33,44302.33,...,48226.33,52511.33,55576.33,54414.67,51549.33,48201.00,44736.00,41219.67,37611.67,35979.33
2016-01-03,34373.67,32097.33,30264.00,28964.00,28954.00,30307.33,32150.00,35110.67,39687.00,44100.67,...,50275.00,54361.00,56539.67,55356.33,52790.33,49913.33,45846.00,41470.67,36900.33,35809.00
2016-01-04,35108.00,33600.67,32354.67,31709.67,33481.67,40566.33,48514.67,52654.33,54940.33,55662.33,...,58097.00,62188.00,63877.33,63589.33,60703.00,56195.67,50859.33,45030.33,39604.00,37932.00
2016-01-05,36984.33,35389.67,34155.67,33500.67,35266.67,42633.00,51564.67,54766.67,56214.67,56581.33,...,58575.67,63189.33,64973.67,64542.33,62059.33,57919.67,52380.33,46406.00,40822.33,39323.00

In [9]:
print(data.shape)
print(data3.shape)
data = data.T.join(data3.T, how='outer')
data.shape

(1826, 24)
(731, 24)

(24, 2557)

In [10]:
data.head()

,2011-01-01,2011-01-02,2011-01-03,2011-01-04,2011-01-05,2011-01-06,2011-01-07,2011-01-08,2011-01-09,2011-01-10,...,2017-12-22,2017-12-23,2017-12-24,2017-12-25,2017-12-26,2017-12-27,2017-12-28,2017-12-29,2017-12-30,2017-12-31
0,33434.0,33028.0,34797.0,34236.0,35156.0,36119.0,37126.0,36031.0,34713.0,34485.0,...,36455.21,33245.53,31136.26,28956.01,29527.04,31401.94,34458.25,36916.92,35391.59,32488.58
1,34849.0,33044.0,34790.0,34170.0,34874.0,35921.0,36740.0,35901.0,34960.0,34432.0,...,35483.80,31768.34,29865.93,27606.11,28620.54,30413.54,33604.61,35834.50,34613.74,31046.62
2,34187.0,31901.0,33763.0,33485.0,34270.0,35468.0,36237.0,34767.0,33598.0,33977.0,...,33923.18,29869.46,27699.46,25572.47,27167.14,29062.17,32384.77,34571.49,32847.70,28607.18
3,32368.0,30931.0,32809.0,32899.0,33591.0,34476.0,35579.0,33538.0,32448.0,33420.0,...,32692.48,28259.50,26294.61,24281.93,26006.81,28124.56,31433.88,33378.36,31369.50,26604.67
4,30488.0,30143.0,31897.0,32320.0,32766.0,33689.0,34690.0,32527.0,31478.0,32838.0,...,31955.86,27264.02,25075.93,23602.24,25398.62,27388.48,30761.76,31988.06,30139.81,25084.98

In [29]:
gdp_data = pd.read_excel('data\GB\WEO_Data_Oct17_UK.xlsx').drop(
                                                                columns = ['Country', 'Units', 'Scale', 'Estimates Start After'],
                                                                index = [1,2]).T
gdp_data.drop(index = [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2018, 2019, 2020, 2021], inplace=True)
gdp_data.columns = ['GDP in billion USD']
gdp_data

      GDP in billion USD
2011            2611.108
2012            2655.458
2013            2721.489
2014            3002.394
2015            2863.304
2016            2629.188
2017            2565.051